p {
    color: rgb(5, 5, 70);
}
#guiaSite{
  background: linear-gradient(to right, #ff416c, #09ff00); /* Cores do degradê */
  -webkit-background-clip: text; /* Recorta o fundo no formato do texto */
  -webkit-text-fill-color: transparent; /* Torna o preenchimento da fonte transparente */
  background-clip: text; 
}

#divLogo{
    background: #00820b;
    background: linear-gradient(135deg, rgba(0, 130, 11, 1) 17%, rgba(255, 0, 0, 1) 62%, rgba(255, 234, 0, 1) 79%, rgba(237, 221, 83, 1) 100%);
    text-align: center;
    h2{
        font-size: 4rem;
        color: white;
        text-align: center;
    }
}


#tituloSite {
    text-align: center;
    font-size: 3.2rem;
    color: rgb(255, 255, 255);
    background: #00820b;
    background: linear-gradient(135deg, rgba(0, 130, 11, 1) 17%, rgba(255, 0, 0, 1) 62%, rgba(255, 234, 0, 1) 79%, rgba(237, 221, 83, 1) 100%);
}

#newsRS {

    h2 {
        font-size: 5rem;
    }
}